<?xml version="1.0"?>
<launch>
	
	<node name="serial_node" pkg="rosserial_python" type="serial_node.py">
		<param name="port" type="string" value="/dev/arduino_usb"/>
		<param name="baud" type="int" value="57600"/>
	</node>
	<include file="$(find lane_track)/launch/lane_track_on_jetnano.launch" />
	<node name="mainOnJetsonNano" pkg="main_fourwscar" type="main.py" output="screen"/>

	<include file="$(find web_video)/launch/web_launch.launch"/>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    
</launch>
